<?xml version="1.0"?>
<launch>
    <arg name="serial_port" default="/dev/ttyUSB0" description="Serial port to use"/>
    <arg name="serial_port_fallback" default="/dev/ttyUSB1" description="Fallback serial port"/>
    <arg name="serial_baudrate" default="9600" description="Serial baudrate"/>
    <arg name="leader_name" default="leader" description="Name of the leader this follower tracks"/>
    <arg name="leader_gps_topic" default="/$(var leader_name)/smarc/latlon" description="Topic to republish the leader's GPS on"/>
    <arg name="leader_gps_msg_type" default="GeoPoint" description="GPS message type: GeoPoint | NavSatFix"/>

    <node pkg="serial_ping_pkg"
          exec="twtt_follower_node"
          name="twtt_follower_node"
          output="screen">
        <param name="serial.port" type="str" value="$(var serial_port)"/>
        <param name="serial.port_fallback" type="str" value="$(var serial_port_fallback)"/>
        <param name="serial.baudrate" value="$(var serial_baudrate)"/>
        <param name="leader_name" type="str" value="$(var leader_name)"/>
        <param name="leader_gps_topic" type="str" value="$(var leader_gps_topic)"/>
        <param name="leader_gps_msg_type" type="str" value="$(var leader_gps_msg_type)"/>
    </node>
</launch>
