<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="baudrate" default="9600" description="Serial baudrate" />

  <node pkg="serial_ping_pkg"
        exec="serial_broadcast_receiver"
        name="serial_broadcast_receiver"
        output="screen">
    <param name="port" value="$(var port)" />
    <param name="baudrate" value="$(var baudrate)" />
  </node>
</launch>