<?xml version="1.0"?>
<launch>
    <!-- Serial link to the Teensy 4.1 -->
    <arg name="serial_port" default="/dev/ttyACM0" description="Serial port to the Teensy"/>
    <arg name="serial_port_fallback" default="/dev/ttyACM1" description="Fallback serial port"/>
    <arg name="serial_baudrate" default="115200" description="Serial baudrate (Teensy link)"/>

    <!-- OWTT range conversion -->
    <arg name="owtt_delta_prefix" default="#I" description="Teensy OWTT delta line prefix"/>
    <arg name="owtt_offset_us" default="79500.0" description="Constant offset subtracted from delta (microseconds)"/>
    <arg name="default_sound_velocity" default="1500.0" description="Fallback sound speed (m/s)"/>
    <arg name="sound_velocity_topic" default="/lolo/sensors/svs" description="Live sound-velocity topic"/>
    <arg name="sound_velocity_msg_type" default="svs_interfaces/msg/SVS" description="Sound-velocity msg type"/>
    <arg name="leader_gps_msg_type" default="GeoPoint" description="GeoPoint | NavSatFix"/>
    <arg name="sound_velocity_field" default="svs" description="Field on the SVS msg holding m/s"/>

    <!-- Leader name <-> modem id mapping (two leaders) -->
    <arg name="leader1_name" default="leader1" description="Name for the first leader"/>
    <arg name="leader1_modem_id" default="007" description="Modem id of the first leader"/>
    <arg name="leader2_name" default="leader2" description="Name for the second leader"/>
    <arg name="leader2_modem_id" default="111" description="Modem id of the second leader"/>
    <arg name="own_modem_id" default="101" description="This receiver's own modem address (for the $Y config command)"/>
    <arg name="mode" default="receiver" description="receiver | wire (wire = passive, Teensy transparent)"/>
    <arg name="command_terminator" default="&#13;&#10;" description="Terminator appended to Teensy commands"/>

    <node pkg="serial_ping_pkg"
          exec="owtt_follower_node"
          name="owtt_follower_node"
          output="screen">
        <param name="serial.port" type="str" value="$(var serial_port)"/>
        <param name="serial.port_fallback" type="str" value="$(var serial_port_fallback)"/>
        <param name="serial.baudrate" value="$(var serial_baudrate)"/>
        <param name="owtt.delta_prefix" type="str" value="$(var owtt_delta_prefix)"/>
        <param name="owtt.offset_us" value="$(var owtt_offset_us)"/>
        <param name="owtt.default_sound_velocity" value="$(var default_sound_velocity)"/>
        <param name="owtt.sound_velocity_topic" type="str" value="$(var sound_velocity_topic)"/>
        <param name="owtt.sound_velocity_msg_type" type="str" value="$(var sound_velocity_msg_type)"/>
        <param name="owtt.sound_velocity_field" type="str" value="$(var sound_velocity_field)"/>
        <param name="follower.leader_gps_msg_type" type="str" value="$(var leader_gps_msg_type)"/>
        <param name="follower.leader1_name" type="str" value="$(var leader1_name)"/>
        <param name="follower.leader1_modem_id" type="str" value="$(var leader1_modem_id)"/>
        <param name="follower.leader2_name" type="str" value="$(var leader2_name)"/>
        <param name="follower.leader2_modem_id" type="str" value="$(var leader2_modem_id)"/>
        <param name="teensy.own_modem_id" type="str" value="$(var own_modem_id)"/>
        <param name="teensy.mode" type="str" value="$(var mode)"/>
        <param name="teensy.command_terminator" type="str" value="$(var command_terminator)"/>
    </node>
</launch>
