<launch>
  <arg name="robot_name" default="lolo" />
  <arg name="use_sim_time" default="false" />

  <node
    pkg="serial_ping_pkg"
    exec="modem_ping_estimator_node"
    name="modem_ping_estimator_node"
    output="screen"
    namespace="$(var robot_name)">

    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="$(var use_sim_time)" />
  </node>
</launch>